.cuerpo{
    height: 1000px;
}

.container1{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 100px;
    border: 3px solid #6d6dfb;
    border-radius: 20px;
}

.container1 .tittle{
    padding: 20px;
    font-size: 30px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: #6d6dfb;
}

.bloques{
    padding: 30px 0px 40px 0px;
}

.card{
    display: inline-block;
    margin-left: 59px;
    margin-bottom: 40px;
    width: 18rem;
}

.card h4{
    text-align: center;
    padding: 10px;
    background-color: #6d6dfb;
}

.card img{
    width: 286px;
    height: 200px;
    object-fit: cover;
}

.card-body{
    padding: 10px;
    text-align: center;

}

.card-body h5{
    padding: 10px;
    display: inline-block;
    margin-left: 10px;
}

@media only screen and (max-width: 400px) {
    .cuerpo{
        height: 1450px;
    }


   .container1 .tittle{
    font-size: 20px;
   } 

   .card{
    margin-left: 1px;
    width: 8.5rem;
    height: 18.5rem;
    margin-bottom: 30px;
   }

   .card img{
    width: 130px;
    height: 100px;
   }

   .card h4{
    font-size: 11.5px;
   }

   .card h5{
    font-size: 15px;
   }
}