
.flash h1{ 
    text-align: center;
}

.cuerpo{
    margin-top: 5%;
    height: 580px;
}

.flash{
    margin-top: 10%;
}

.cuerpo h1{
    margin-bottom: 50px;
}


@media(max-width: 778px) {
    .interno{
        display: block;
    }

    .cuerpo{
        height: 800px;
    }

    footer{
        font-size: 10px;
    }
}

@media(max-width: 400px){
    footer{
        margin-top: 0px;
    }

    .cuerpo{
        height: 600px;
    }
}
